.grid {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin: 50px;
  margin-top: 20px;
  grid-template-columns: repeat(3, auto);
  margin-left: 100px;
}

body {
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

h1 {
  color: white;
  position: relative;
  left: 5%;
}

h2 {
  color: white;
  position: relative;
  left: 90%;
  top: -50px;
}

img {
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.pho {
  text-align: center;
}

.gallery {
  position: relative;
  top: 2%;
  width: 410px;
  max-height: 810px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5em;
  background-color: white;
}

.allcontent {
  overflow: scroll;
  max-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
  padding: 3px;
  overflow-y: scroll;
}

.allcontent::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.allcontent::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

hr {
  width: 95%;
}

.title {
  font-weight: bold;
  font-size: 1.3em;
}

.effect {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  margin-top: 5px;
  height: 25px;
  cursor: not-allowed
}

.rem {
  cursor: pointer !important;
  position: relative;
  left: 48%;
  border: 1px solid black !important;
}

.rem:hover {
  background-color: transparent;
  color: black;
}

.last {
  position: relative;
  bottom: -2%;
  left: 10%;
  width: 200px;
  font-size: 1.1em;
  display: initial;
  height: 40px;
  border: 1.5px solid white;
  background: transparent;
  color: white;
  margin: 30px;
  text-transform: capitalize;
}

.last:hover {
  background-color: white;
  color: black;
}

.last:active {
  color: grey;
}
#b{
  color: whitesmoke;
  font-size: 30px;
}


#custom {
  font-size: 30px;
  color: white;
  border: none;
  text-decoration: underline;
  background: none;
}

#custom:hover {
  color: #0000EE;
}

#custom:active {
  color: purple;
}
